@import './colors.scss';
@import './fonts.scss';

.pp-button-light {
    @extend .pp-body-b-b;
    color: $gray-light-50;
    background-color: $gray-light-900;
    border: none;
    border-radius: 12px;
    padding: 6px 16px;
    cursor: pointer;
    transition: 500ms;
    text-decoration: none;

    &:hover {
        background-color: $gray-light-700;
    }
    &:active {
        background-color: $gray-light-800;
        transition: none;
    }
}

.pp-button-menu-light {
    background: none;
    border: none;
    color: $gray-light-600;
    @extend .pp-body-b-b;
    transition: 500ms;
    text-decoration: none;

    &:hover {
        color: $gray-light-900;
    }
    &:active {
        color: $gray-light-600;
    }
}

.pp-button-scroll-on-top {
    background: none;
    border: none;
    font-size: 36px;
    position: fixed;
    right: 16px;
    bottom: 16px;
}