.pp-h1 {
    font-size: 60px;
    line-height: 72px;
    letter-spacing: (-2%);
    font-weight: 700;
}

.pp-h2 {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: (-2%);
    font-weight: 600;
}

.pp-h3-a {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: (-2%);
    font-weight: 600;
}

.pp-h3-b {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: (-2%);
    font-weight: 700;
}

.pp-subtitle-a {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
}

.pp-subtitle-b {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
}

.pp-body-a {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}

.pp-body-b {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.pp-body-b-a {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-decoration: underline;
}

.pp-body-b-b {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.pp-body-b-c {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

.pp-body-c {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.pp-body-c-a {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}